.App {
  text-align: center;
}

.loginButton {
  position: relative;
  /* right: 100px;
  top: 10px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section {
  display: grid;
  grid-gap: 1rem;
  font-size: 15px;
  grid-template-columns: auto auto auto;
}

.form {
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
}

.form input {
  padding: 5px;
  margin: 10px;
}

.form button {
  margin: 10px;
}


@media screen and (max-width: 800px) {
  section {
    grid-template-columns: auto auto;
  }
}

article {
  background-color: aliceblue;
}

.sizing {
  text-align: center;
  font-weight: bold;
  font-size: 30px ;
}

button {
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}



.navDiv {
  background-color: #8695b5;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.loginButton button {
  margin-left: 10px;
  padding: 15px 10px;
  border-radius: 50%;
}


a {
  margin: 0px 4px;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  color: aliceblue;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
